
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>WebPush</title>
</head>
<body>
  <h1>Web Push Notifications 📣</h1>
  <div class="deniedAlert" *ngIf="denied == true">
    <b>
      You have blocked notifications. You need to manually enable them
      in your browser.
    </b>
  </div>

  <div class="content" *ngIf="subscribed == true; else notSubscribed">
    <p>Hooray! You are subscribed to receive notifications 🙌</p>
    <button id="unsubscribeButton" (click)="unsubscribe()" >Anular suscripcion</button>
  </div>

  <ng-template #notSubscribed>
    <div class="content">
      <button id="subscribeButton" (click)="subscribe()" >Subscribirse</button>
    </div>
  </ng-template>

</body>
</html>
